* {
    font-size:xx-large;
    font-family: Verdana;
    font-weight: bolder;
}

body{
    background-color:#292929;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -200px;
    width: 400px;
    height: 600px;
}

button{
    background-color: rgb(220, 20, 60);
    border: 2px solid antiquewhite;
    color:antiquewhite;
    width: 400px;
    height: 500px;
    border-radius: 40px 40px 0 0;
}

input{
    width: 392px;
    height: 100px;
    border: 2px solid antiquewhite;
    background-color: dodgerblue;
    color:antiquewhite;
    text-align: center;
    border-radius: 0 0 40px 40px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(180, 16, 49);
    color: white;
}

button:active{
    background-color: rgb(152, 16, 44);
}

input, body {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

::placeholder {
    color:rgba(250, 235, 215, 0.7);
    font-size: large;
}
