body {
    background-color:lightcoral;
}

button {
    width: 200px;
    height: 160px;
    font-family: Verdana;
    font-weight: bold;
    background-color: crimson;
    border: 1px solid white;
    color:aqua;
    font-size: larger;
}

button:hover {
    background-color:mediumpurple;
    color:brown;
    cursor:pointer;
}

button:active {
    background-color: cornsilk;
}