/* General */


* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
}

a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #1985A1;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}
  
a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

body {
    background-color: #DCDCDD;
    margin: 0;
}

main {
    font-size: large;
}

.red-text {
    color:#F64740;
}

svg {
    margin: 0;
}

/* -General- */

/* Header */

header {
    background-color: #C5C3C6;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 7%;
    font-size: large;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 65px;
    position: sticky;
}

header img {
    height: 45px;
    width: 45px;
}

 #name {
    text-transform: uppercase;
    color: #1985A1;
    font-size: larger;
    font-weight: bolder;
    margin: 0 30px;
}

nav li {
    text-transform: uppercase;
    font-size: large;
    display: inline-block;
    padding: 0px 20px;
}

nav ul li a {
    color: #46494C;
    font-weight: bold;
}


/* -Header- */

/* Banner */


#banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #DCDCDD;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#banner img {
    width: 270px;
    height: 270px;
}

#banner-title {
    width: 30%;
}

#banner-title h3, h1 {
    margin-top: 0;
}


/* -Banner- */

/* Slide 1 */


#slide-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #F64740;
    margin: 0;
    color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#slide-1 img {
    width: 300px;
    height: 300px;
}

#slide-1-title {
    width: 30%;
}

#slide-1-title h2, h4 {
    margin-top: 0;
}


/* -Slide 1- */

/* Slide 2 */


#slide-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #DCDCDD;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#slide-2 img {
    width: 270px;
    height: 270px;
}

#slide-2-title {
    width: 30%;
}

#slide-2-title h2, h4 {
    margin-top: 0;
}


/* -Slide 1- */

/* Footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1985A1;
    margin: 0;
    border-bottom: 7px solid #F64740;
}

footer h4 {
    color: #DCDCDD;
    margin: auto 10%;
}

#contact-the-cat {
    height: 60;
    margin: 20px auto;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#i-name, #i-message, #i-submit {
    width: 100%;
    margin: 1.2% auto;
    border: 0;
    border-radius: 6px;
}

#i-submit {
    background-color: #F64740;
    color: white;
}

#i-submit:hover {
    cursor: pointer;
}


footer ul {
    list-style: none;
    margin: 0.7% 10%;
    text-align: center;
}

footer a {
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
    color: #DCDCDD;
    font-size: large;
    font-weight: bold;
}

footer a::after{
    background-color:#F64740;
}

footer ul li {
    margin:0 0 4% 0;
 }

/* -Footer- */

/* Mobile */

@media (max-width: 480px){
    /* Header*/
    #name, nav {
        display: none;
    }
    header {
        justify-content: center;
        align-items: center;
    }
    /* -Header- */
    /* Slides */
    #banner, #slide-1, #slide-2 {
        height: auto;
        flex-direction: column;
    }
    #banner-title, #slide-2-title {
        display: block;
        text-align: center;
        width: auto;
        margin: 27px 16px;
        margin-bottom: 10px;
    }
    #banner-title h3, #slide-2-title h4 {
        font-weight: normal;
    }
    #banner img, #slide-2 img {
        margin: auto auto 30px auto;
        height: 35%;
        width: 35%;
    }

    #slide-1-title {
        display: block;
        text-align: center;
        width: auto;
        margin: auto 16px 30px 16px;
    }
    #slide-1 img {
        height: 45%;
        width: 45%;
        margin: 27px auto;
        margin-bottom: 10px;
    }
    /* -Slides- */
    /* Footer */
    footer {
        flex-direction: column;
    }
    footer h4 {
        margin: 5% auto;
    }
    #contact-the-cat {
        width: 70%;
        margin-top: 0px;
    }
    #contatti{
        text-align: center;
        width: 20%;
        position: relative;
        right: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 8%;
    }

    footer ul li {
        margin:0 0 20% 0;
     }

    footer ul {
        margin: 4.5% 0 0 0;
    }

    /* -Footer- */
}